@CHARSET "ISO-8859-1";

#body {
	background: url(img/plateau.jpg) no-repeat 0 0;
	height: 562px;
}

#containers {
	padding-top: 132px;
	padding-left: 22px;
}


.grenier {
	display: inline-block;
	width: 84px;
	height: 190px;
}

.grenier .score_txt {
	font-size: 24px;
	margin-top: 96px;
	text-align: center;
}

#compartiments {
	display: inline-block;
	vertical-align: top;
	width: 590px;
}


#compartiments .compartiments-line {
	display: inline-block;
	margin-left: 25px;
}
#compartiments .compartiments-line:FIRST-CHILD {
	margin-bottom: 48px;
}

#compartiments .compartiments-line .compartiment {
	position: relative;
	width: 70px;
	height: 70px;
	display: inline-block;
	margin-right: 20px;
	background-image: url(img/haricots.png);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
}

#compartiments .compartiments-line .compartiment p.qte_txt {
	margin-top: 45px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}










