@CHARSET "ISO-8859-1";


.std-plateau {
	position: relative;
}

.std-case {
	width: 64px;
	height: 64px;
}

.std-pion {
	position: absolute;
}





#pions {
	position: absolute;
	top: 0;
	left: 0;
}

