@CHARSET "ISO-8859-1";


.std-plateau {
	position: relative;
}

.std-case {
	width: 64px;
	height: 64px;
}


.std-case.mvt-to {
	border: 4px solid #5F9AE6;
	width: 56px;
	height: 56px;
}
.std-case.mvt-from {
	border: 4px dashed #5F8E62;
	width: 56px;
	height: 56px;
}




#pions {
	position: absolute;
	top: 0;
	left: 0;
}

.std-pion {
	width: 64px;
	height: 64px;
	background-position: 8px 8px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.pion-blanc {
	background-image: url(img/pion-blanc.png);
}
.pion-noir {
	background-image: url(img/pion-noir.png);
}
